.exercise-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: lightgray;
}

.adding-container {
    margin: 30px 80px;
}

.logo-container {
    display: flex;
}

.logo-container img {
    width: 40px;
    height: 40px;
    margin-top: 25px;
    margin-right: 10px;
}

.header-text {
    color: blueviolet;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

}

.ques-ans h2 {
    text-align: center;
}

.activity-container {
    position: sticky;
    background-color: aliceblue;
}